<h1>Here's Details about Your Word!</h1>

Word: <%=@word.word%><br>
Definition: <%=@word.definition%><br>
Part of Speech: <%=@word.part_of_speech%><br>
Used in a Sentence: <%=@word.example_sentence%><br>